<footer id="footer-container">
    <div id="right-part">
        © Coding Ninjas. All Rights Reserved 
    </div>
    <div id="link-part">
        <a href="">Home</a>
        <a href="">Profile</a>
    </div>
</footer>