#header-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 8px 0px 8px;
  height: 50px;
  background: #914df3; }
  #header-container #socail-media-name p {
    color: white;
    font-size: 20px;
    margin: 13px 0px 0px 0px; }
  #header-container #header_buttons ul {
    list-style-type: none; }
    #header-container #header_buttons ul li {
      display: inline;
      border-radius: 15px;
      background: #bb8ff8;
      padding: 11px;
      margin: 5px; }
      #header-container #header_buttons ul li a {
        color: white;
        text-decoration: none; }
